<h1>search results</h1>
<table class="table table-striped">
  <thead>
    <tr>

      <th>Title</th>
      <th>description</th>
      <th>parking space</th>
      <th>image</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lot.each do |lot| %>
      <tr>
        <td><%= lot.title %></td>
        <td><%= lot.description %></td>
        <td><%= lot.num %></td>
        <td><%= image_tag(lot.image) %></td>
        
        <td><%= link_to 'Show', lot %></td>
        <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
        <td><%= link_to 'Delete', lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back", root_path %>